#Python pip requirements
##Main django packages
ipython
django
django-extensions
Werkzeug
django-bootstrap3
uwsgi
##Forum and dependencies
#pybbm #currently install with beukueb github fork
django-annoying
bbcode
Pillow
