{% extends 'base.html' %}

{% block content %}
    <header><h1>OFAT</h1></header>

    {% if registered %}
    <p>Registration was succesful. You can now login with your login credentials.</p>
    {% endif %}
    
    <div id="registration">
      <h1>Create an account</h1>
      <form action="." method="post">
	{% csrf_token %}
	<p>
	  {{ userform }}
	</p>
	<p>
	  {{ profileform }}
	</p>
	<p>
	  <input type="submit" value="Create the account" />
	</p>
	<p>
	  (*): Required items.
	</p>
    </div>
{% endblock %}
