{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">OFAT</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form action="/login" class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for primary call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Open Forensic Analysis Toolbox</h1>
        <p>This project aims to bring together the different open-source tools for forensic DNA analysis by massively parallel sequencing. </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Consortium</h2>
          <p>
	    OFAT is supported by several leading forensic scientists, including:
	    <ul>
	      <li>Prof. Dr. Bruce Budowle</li>
	      <li>Prof. Dr. Niels Morling</li>
	      <li>Prof. Dr. Peter Schneider</li>
	      <li>Prof. Dr. Walther Parson</li>
	    </ul>
	  </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Tools</h2>
          <p>In the first wave of tools the following tools are already available in OFAT:<br />
	    The STR analysis tools STRait Razor and TSSV. The general DNA analysis tool MyFLq. A mitochondrial analysis tool ... </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Registration</h2>
          <p>OFAT can be installed locally, which is advisable when
          working on forensic cases. For online experimentation and
          access to the knowledge base, registration is required.</p>
          <p><a class="btn btn-default" href="#" role="button">Register &raquo;</a></p>
        </div>
      </div>


    {% if registered %}
    <div class="row">
      <p>Registration was succesful. You can now login with your login credentials.</p>
    </div>
    {% endif %}
    
    <div id="registration">
      <div class="row">
	<h2>Create an account</h2>
      </div>
      <form action="." method="post" class="form">
	{% csrf_token %}
	<div class="row">
	  <div class="col-md-6 form-group">
	    {% bootstrap_form userform %}
	  </div>
	  <div class="col-md-6 form-group">
	    {% bootstrap_form profileform %}
	  </div>
	</div>
	<div class="row">
	  <input class="btn btn-default" type="submit" value="Create the account" />
	</div>
	<p>
	  (*): Required items.
	</p>
    </div>
    
    <hr>
      
      <footer>
        <p>&copy; OFAT consortium 2015</p>
      </footer>

{% endblock %}
