<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">OFDAT</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>{# Will be the logged in platform homepage #}
	<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Toolbox <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Samples</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Raw analysis</li>
            <li><a href="#">Targeted STR/SNP</a></li>
            <li><a href="#">Mitochondrial</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Reports</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Documentation <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#about">About</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">Tutorials</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">External info</li>
            <li><a href="#">ISFG</a></li>
            <li><a href="#">Euroforgen</a></li>
          </ul>
        </li>
	<li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
